html, 
body{
    height: 100%;
    font-family: 'Playfair Display', serif;
}
.main-page{
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
header{
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.logo-text{
    margin-left: 18px;
}
.banderogus-container{
    background-color: #FFF;
    padding: 60px 56px;
    align-self: center;
}
.banderogus-title{
    color: #1b1d1f;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}
.banderogus-greeting{
    color: #1b1d1f;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    margin-bottom: 16px;
}
.banderogus-start-text{
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}
.banderogus-description{
    color: #1b1d1f;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 48px 0;
}
.banderogus-launch{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
.main-page-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.banderogus-image{
    align-self: flex-end;
}
.gus-facts{
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gus-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}
.gus-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    text-align: center;
    width: 875px;
}
.gus-facts-container{
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.gus-facts-item{
    width: 33%;
}
.gus-facts-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin: 40px 0 32px 0;
}
.gus-facts-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 280px;
}
.victory-bgd{
    width: 1170px;
    background: linear-gradient(270deg, #E9F7FF 5.88%, #FCFEFF 91.8%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.victory-footer{
    display: flex;
    justify-content: center;
}
.victory-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}
.victory-description{
    width: 875px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    text-align: center;
}
.modal-bgd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(27, 29, 31, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.modal-form-container{
   background: #fff;
    padding: 32px 92px 60px 92px; 
    position: relative;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal-form-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin: 32px 0 12px 0;
}
.modal-form-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 24px;
}
.modal-form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.field-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 8px;
}
.field-input{
    background: #FFFFFF;
    border: 1px solid #005BBB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    padding: 4px 8px;
}
.modal-form-btn{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    margin-top: 24px;
}
.close-btn{
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 14px;
    color: #1B1D1F;
    cursor: pointer;
    border: none;
    background: none;
}
.modal-description{
    margin-bottom: 0;
}
.modal-active{
    opacity: 1;
    pointer-events: all;
}
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}